@tailwind base;
@tailwind components;
@tailwind utilities;
 

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
  font-weight: 300;
  background-color: #f4f4f9;
}

.App {
  max-width: 900px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* SearchBar Styles */
.search-container {
  position: relative;
  margin-bottom: 10px;
}

.search-input {
  width: 100%;
  padding: 8px 40px 8px 8px; /* Add padding-right for the icon */
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-icon {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(4, 4, 6, 0.809);
  cursor: pointer;
  padding: 2px;
  border: none;
  background: transparent;
  font-size: 1.1rem;
}

.search-icon:hover {
  color: #0056b3;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  /* scroll-behavior: ; */
  scrollbar-width: thin;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
}
/* TableRow Styles */
td input[type="checkbox"] {
  margin-right: 10px;
}

/* RowActions styles */
button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
}

/* Save Button */
button.save {
  background-color: #007bff;
}

button.save:hover {
  background-color: #0056b3;
}

/* Edit Button */
button.edit {
  background-color: #28a745;
}

button.edit:hover {
  background-color: #218838;
}

/* Delete Button */
button.delete {
  background-color: #dc3545;
}

button.delete:hover {
  background-color: #c82333;
}

/* SelectAllCheckbox styles */
th input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}


/* Pagination Styles */
/* Pagination Container */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
}

/* Delete Selected Button */
.delete-selected {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-selected:hover {
  background-color: #d62828;
}

/* Pagination Buttons */
.pagination {
  display: flex;
  gap: 5px;
}

.pagination button {
  /* background-color: #f1f1f1; */
  background-color: #007bff;
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: all 0.3s ease;
}

/* Hover effect for buttons */
.pagination button:hover {
  background-color: #007bff;
  color: white;
}

/* Active Page Button */
.pagination button.active {
  background-color: #f1f1f1;
  color: #007bff;
  font-weight: bold;
}

/* Disabled Buttons */
.pagination button:disabled {
  background-color: #e0e0e0;
  color: #ccc;
  cursor: not-allowed;
  border-color: #ccc;
}










