.App {
  margin: 20px 10px;
  padding: 20px;
}

.search-container { 
  margin-bottom: 15px;
} 

.search-input { 
  font-size: 14px;  
  padding: 10px 8px;  
}

.search-icon {  
  font-size: 1rem;  
  right: -1px;  
} 

table {  
  font-size: 12px;
  margin: 0rem;
}

td {  
  padding: 13px 5px; 

}

td input[type="checkbox"]{  
  margin-left: .5rem;
} 

.scrollable-table {  
  max-height: 300px; 
  margin: 0rem;
} 


.loader-overlay {  
  font-size: 14px;  
}

.loader-container {  
  font-size: 12px;

}

p {  
  font-size: 12px;
}